[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
graphene-django = "*"
psycopg2 = "*"
django-debug-toolbar = "*"
django-webpack-loader = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.7"
